.idea
output
src/*/*.class
storage
src/fragments
fragments
src/.nfs*
src/file*
src/data*
.nfs*
bin/admin
bin/application
bin/config
bin/ordo
bin/hdfs
bin/map
bin/utils
bin/formats
bin/file*
bin/data*
data/
storage/